/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
/* CSS Rules */

/* font-family: 'Merriweather Sans', sans-serif; */


.designation {
    font-weight: 600;
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
}

div{
}

#img-desc {
    padding: 5% 9%;
}

#header-section {
    margin: 3% 10%;
    color: #F66B0E;
    /* font-family: 'Montserrat', sans-serif; */
}


body {
    background-color: #383838;
    color: #CDF0EA;
}

/* a {
    font-family: 'Montserrat-bold', sans-serif;
} */

.container-fluid {
    /* font-family: "Merriweather Sans", sans-serif; */
    
  width: 300px;
  height: 80px;
  border: double 1em transparent;
  border-radius: 30px;
  background-image: linear-gradient(rgb(182, 104, 104), rgb(26, 241, 241)), 
                    linear-gradient(to right, green, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.creative-color{
    color: #DAB88B;
}

.left-align{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.pos {
    margin-top: 4%;
}

.profile-pic {
    padding-top: 5%;
    width: 40%;
    margin-left: 23%;
    right: 30%;
    border-radius: 45%;

    /* border-radius: 100%; */
}

.header-div {
    margin: 5% 60% 5% 20%;
}

.top-bar-right {
    padding-left: 50%;
}

.bold {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.bg-bold {
    color: #E8C07D;
}

.nav-item-color {}